<!DOCTYPE html>
<html ng-app="calcApp">
<head>
    <meta charset="UTF-8">
    <title>Exercice 3 - TD3</title>
    <script src="../../ex1/app/js/angular.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="../app/CalcApp.js"></script>
    <script src="../app/controllers/CalcController.js"></script>
</head>
<body>
<div class="toogle ng-scope">
    <div class="container ng-scope ui-draggable">
        <div class="panel panel-primary">
            <div class="panel-heading ui-draggable-handle">
                <div><label>Exercice n°2 - TD3</label></div>
            </div>
            <div class="panel-body ng-isolate-scope">




            </div>
            <br/>
            <br/>
            <br/>
        </div>
    </div>
</div>
</body>

</html>