<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Exercice 3 : Currency Application</title>
    <script src="../app/js/angular.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="../app/CurrencyApp.js"></script>
    <script src="../app/controllers/CurrencyController.js"></script>
</head>
<body ng-app="CurrencyApp">
<div class="container" id="currencyContainer" ng-controller="CurrencyController as currency">
    <div class="panel panel-primary">
        <div class="panel-heading">Ex 3 : Currency Application</div>
        <div class="panel-body">
            <form>
                <input type="text" ng-model="currency.what"/>
                <select ng-model="currency.from"
                        ng-options="cur as (cur.code + '-' + cur.name) for cur in currency.currencies"></select>
                <a href="#" ng-click="currency.swap()"><></a>
                <select ng-options="cur as (cur.code +  '-' + cur.name) for cur in currency.currencies"
                        ng-model="currency.to"/>
                <input type="submit" value="Envoyer" class="btn btn-primary btn-sm" ng-click="currency.getResult()"/>

            </form>
        </div>
    </div>
</div>
</body>
</html>